$containerWidth: 1919px;
$headColor: #2f2d51;
$textColor: #77838f;
$accent1: #b8b2fd;
$accent2: #ffc78b;
$accent3: #9cf6db;
$accent4: #b8b2fd;
$accent5: #ffffff;
$borderColor: #e7e7ec;
$btnColor1: #090761;
$btnColor2: #196ecd;
$btnColor3: #4a8f9f;
$iconColor: #949da6;
$bodyBg: #f7f9fb;
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
$fontfamily: 'Jost';
$boxShadow: 0 0.5rem 0.9375rem rgba(140, 152, 164, 0.1);
