<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chatroom</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      #app {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
      .col-lg-6 .offset-lg-3 {
        max-width: 600px;
        width: 100%;
      }
      .form-group {
        row-gap: 10px;
        margin-bottom: 0;
      }
      input[type="submit"] {
        width: 100%;
        height: 40px;
        margin-left: 0 !important;
      }
      input {
        height: 40px !important;
      }
      .main-nav {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="col-lg-6 offset-lg-3">
          <div v-if="ready">
            <p v-for="user in info">{{ user.username }} {{ user.type }}</p>
          </div>

          <div v-if="!ready">
            <h4 style="text-align: center; margin-bottom: 1rem">
              Enter your username
            </h4>
            <form @submit.prevent="addUser">
              <div class="form-group row">
                <input
                  type="text"
                  class="form-control"
                  v-model="username"
                  placeholder="Enter username here"
                />
                <input
                  type="password"
                  class="form-control"
                  v-model="password"
                  placeholder="********"
                />
                <input
                  type="submit"
                  value="Join"
                  class="btn btn-sm btn-info ml-1"
                />
              </div>
            </form>
          </div>
          <div class="main-content" v-else>
            <div class="main-nav">
              <button @click="showAssignments" class="btn btn btn-sm btn-info">
                Assignments
              </button>
              <button @click="showChat" class="btn btn btn-sm btn-info">
                Chat
              </button>
            </div>
            <div v-if="selectedTab === 'assignments'">
              <div class="card bg-info">
                <div class="card-header text-white">
                  <h4>Assignments</h4>
                </div>
                <div class="card-body">
                  <div
                    class="card"
                    v-for="(assignment, index) in assignments"
                    :key="index"
                    style="border: none"
                  >
                    <div
                      class="card-header text-white bg-info"
                      style="border: 1px solid rgba(0, 0, 0, 0.125)"
                    >
                      <h5>{{ assignment.title }}</h5>
                    </div>
                    <div class="card-body">
                      <p>{{ assignment.description }}</p>
                    </div>
                  </div>
                </div>
                <div v-if="isTeacher">
                  <div class="card">
                    <div class="card-header">
                      <h5>Add Assignment</h5>
                    </div>
                    <div class="card-body">
                      <form @submit.prevent="addAssignment">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            v-model="newAssignment.title"
                            placeholder="Title"
                          />
                        </div>
                        <div class="form-group">
                          <textarea
                            class="form-control"
                            v-model="newAssignment.description"
                            placeholder="Description"
                          ></textarea>
                        </div>
                        <div class="form-group">
                          <input
                            type="submit"
                            value="Submit"
                            class="btn btn-sm btn-info"
                          />
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="selectedTab === 'chat'">
              <h2>{{ username }}</h2>
              <div class="card bg-info" v-if="ready">
                <div class="card-header text-white">
                  <h4>
                    Chatroom
                    <span class="float-right">{{ connections }} connected</span>
                  </h4>
                </div>
                <ul class="list-group list-group-flush text-right">
                  <small v-if="typing" class="text-white"
                    >{{ typing }} is typing</small
                  >
                  <li class="list-group-item" v-for="message in messages">
                    <span :class="{'float-left':message.type === 1}">
                      {{ message.message }}
                      <small>:{{ message.user }}</small>
                    </span>
                  </li>
                </ul>

                <div class="card-body">
                  <form @submit.prevent="send">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        v-model="newMessage"
                        placeholder="Enter message here"
                      />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script>
    var socket = io();
    let users = [];
    fetch("./users.json")
      .then((response) => response.json())
      .then((data) => {
        users = data.userList;
      })
      .catch((error) => {
        console.error("Error fetching user data:", error);
      });
    let vue = new Vue({
      el: "#app",

      data: {
        newMessage: null,
        messages: [],
        typing: false,
        username: null,
        password: null,
        ready: false,
        info: [],
        connections: 0,
        selectedTab: "assignments",
        isTeacher: false,
        assignments: [],
        newAssignment: {
          title: "",
          description: "",
        },
      },

      created() {
        window.onbeforeunload = () => {
          socket.emit("leave", this.username);
        };

        fetch("./assignments.json")
          .then((response) => response.json())
          .then((data) => {
            this.assignments = data;
          })
          .catch((error) => {
            console.error("Error fetching assignments:", error);
          });

        socket.on("chat-message", (data) => {
          this.messages.push({
            message: data.message,
            type: 1,
            user: data.user,
          });
        });

        socket.on("typing", (data) => {
          this.typing = data;
        });

        socket.on("stopTyping", () => {
          this.typing = false;
        });

        socket.on("joined", (data) => {
          this.info.push({
            username: data.username,
            password: data.password,
            type: "joined",
          });

          setTimeout(() => {
            this.info = [];
          }, 5000);
        });

        socket.on("leave", (data) => {
          this.info.push({
            username: data.username,
            password: data.password,
            type: "left",
          });

          setTimeout(() => {
            this.info = [];
          }, 5000);
        });

        socket.on("connections", (data) => {
          this.connections = data;
        });

        socket.on("new-assignment", (data) => {
          this.assignments = data;
        });
      },

      watch: {
        newMessage(value) {
          value
            ? socket.emit("typing", this.username)
            : socket.emit("stopTyping");
        },
      },

      methods: {
        send() {
          this.messages.push({
            message: this.newMessage,
            type: 0,
            user: "Me",
          });

          socket.emit("chat-message", {
            message: this.newMessage,
            user: this.username,
          });
          this.newMessage = null;
        },

        addUser() {
          // Find the user in users.json based on username and password
          const user = users.find(
            (u) => u.name === this.username && u.password === this.password
          );

          if (user) {
            // User found, allow registration
            this.ready = true;
            this.isTeacher = user.teacher;
            socket.emit("joined", {
              username: this.username,
              password: this.password,
            });
          } else {
            // User not found, display an error or handle it as desired
            console.error("User not found in users.json");
          }
        },
        showAssignments() {
          this.selectedTab = "assignments";
        },
        showChat() {
          this.selectedTab = "chat";
        },
        addAssignment() {
          if (this.newAssignment.title && this.newAssignment.description) {
            // Create the assignment object
            const assignmentData = {
              title: this.newAssignment.title,
              description: this.newAssignment.description,
            };

            const updatedData = JSON.stringify(assignmentData);
            console.log(updatedData)
            // Send the updated JSON data to the server
            fetch("/assignments.json", {
              method: "post",
              headers: {
                "Content-Type": "application/json",
              },
              body: updatedData,
            })
              .then((response) => {
                console.log("Assignment added and saved successfully!");
              })
              .catch((error) => {
                console.error("Error saving assignment:", error);
              });

            // Reset the form fields
            this.newAssignment.title = "";
            this.newAssignment.description = "";
          }
        },
      },
    });
  </script>
</html>
