@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
div {
  display: flex;
  flex-direction: column;
  position: relative;
  .input-icon {
      background-image: url('~@/assets/icons/search.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 13.21px;
      height: 13.21px;
      position: absolute;
      top: 40%;
      right: 17.79px;
  }
  .focused + .input-icon {
    &::after {
      content: '';
      background-image: url('~@/assets/icons/search.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 13.21px;
      height: 13.21px;
      filter: brightness(0.5);
      display: block;
      top: 40%;
    }
  }
}
.label {
  font-family: $fontfamily;
  @include font(400, 1rem, 1.875rem, $headColor);
  text-align: left;
}
.input {
  font-family: $fontfamily;
  @include font(400, 0.875rem, 1.875rem, $textColor);
  background: $accent5;
  border: 0.0625rem solid $borderColor;
  padding: 1rem 1.375rem 0.875rem 1.375rem;
  box-shadow: $boxShadow;
  border-radius: 0.25rem;
  &::placeholder {
    @include font(400, 0.875rem, 1.875rem, $textColor);
  }
}
.error {
  border: 0.125rem solid red;
}
.custom {
  padding: 0.9375rem 1.1875rem 0.75rem 1.375rem;
  box-shadow: none;
  &:focus {
    &::placeholder {
      @include font(400, 0.875rem, 1.875rem, $headColor);
    }
    outline: none;
  }
}
