@import '../../assets/scss/variables';
.button {
  border: none;
  border-radius: 0.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.0625rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4375rem;
  cursor: pointer;
}
.button--primary {
  background: $btnColor1;
  color: $accent5;
  &:hover {
    background-color: #1A0D9C;
  }
}
